{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
<header class="masthead bg-index text-white text-center py-4">

</header>
<div class="p-3">
  <div class="container">
    <div class="row mt-3">
      <div class="col mx-auto text-center mb-3">
          <h2 class="subheading">Your Money, Your Pace.</h2>
          <h1 class="title">Welcome to MoneyParce</h1>
          <h5>To access all of our features, log in or create an account</h5>
      </div>
    </div>
  </div>
</div>
{% endblock content %}