{% block content %}
<div class="p-3 mt-4">
  <div class="container">
    <div class="row justify-content-center">
        <div class="card p-3 mb-4 rounded">
          <div class="card-body">
            <h2>Enter Budget</h2>
            <hr />
            <form action="{% url 'finances.budgets_form' %}" method="POST">
              {% csrf_token %}
              {{ template_data.form.as_p }}
              <button type="submit"
                class="btn bg-dark text-white">Submit
              </button>
            </form>
          </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}