.budget-box {
    box-shadow: none !important;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 15px;
    position: relative;
    overflow: hidden;
}

.budget-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-orange {
  background-color: orange;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px; /* optional: makes it a little rounded */
  cursor: pointer; /* makes cursor a hand on hover */
}


.progress {
    height: 10px;
    background-color: #FFA737;
    border-radius: 5px;
    margin-bottom: 5px;
    text-align: left;
}

.left {
    text-align: left;
}
.progress-bar {
    transition: width 0.6s ease;
}

/* Modal styling - same as transactions */
#popup-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

#popup-modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 500px;
  background: white;
  padding: 20px;
  z-index: 1000;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
  border-radius: 12px;
}

body.modal-open #page-content {
  filter: blur(3px);
  pointer-events: none;
  user-select: none;
}

.sort-btn.active {
  background-color: #da560e;
  color: white;
}

h5 {
    color: white;
}

.spending_container {
    background-color: #7366FF; /* light gray */
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.card {
    background: linear-gradient(to bottom, #FFBE0A, #EC6200); /* Orange ombre */
    color: white; /* Optional: make text white for contrast */
    border: none; /* Optional: remove default card border */

}